---
title: "Tags"
layout: default
permalink: "blog/tags.html"
---

<section class="section-padding">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        {% include title.html %}
            
        {% for tag in site.tags %} 
        <h4 class="font-weight-bold spanborder text-lowercase" id="{{ tag[0] | downcase }}"><span>#{{ tag[0] }}</span></h4>
            
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
              {% include blog/group-articles.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

        {% endfor %}

        </div>
        
            <div class="col-md-4">
        {% include blog/sidebar-featured.html %}    
    </div>
        
    </div>
</div>
</section>