---
layout: default
---

<!-- <header> -->
  {% include widgets/carousel.html %}
<!-- </header> -->

<!-- What Area Start-->
{% include widgets/que-es.html %}
<!-- What Area End -->

<!-- 2020 Area Start-->
{% include widgets/2020.html %}
<!-- 2020 Area End -->

<!-- Countdown Area Start -->
<!-- {% include widgets/countdown.html %} -->
<!-- Countdown Area End -->

<!-- Sponsors Section Start -->
{% include widgets/sponsors.html %}
<!-- Sponsors Section End -->

<!-- Event Speakers Section Start -->
{% include widgets/speakers.html %}
<!-- Event Speakers Section End -->

<!-- Communities Section Start -->
{% include widgets/communities.html %}
<!-- Communities Section End -->

<!-- Volunteers Section Start -->
{% include widgets/volunteers.html %}
<!-- Volunteers Section End -->

<!-- About Section Start -->
{% include widgets/about.html %}
<!-- About Section End -->

<!-- Team Section Start -->
<!-- {% include widgets/who.html %} -->
<!-- Team Section End -->

<!-- Gallary Section Start -->
<!-- {% include widgets/gallery.html %} -->
<!-- Gallary Section End -->

<!-- Ask Question Section Start -->
<!-- {% include widgets/faqs.html %} -->
<!-- Ask Question Section End -->

<!-- Contacto -->
{% include widgets/contacto.html %}
<!-- End -->

<!-- Ticket Pricing Area Start -->
<!-- {% include widgets/pricing.html %} -->
<!-- Ticket Pricing Area End -->

<!-- Blog Section Start -->

<!-- Blog Section End -->

<!-- Map Section Start -->
<section id="google-map-area">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>
<!-- Map Section End -->