<section id="focus" class="counter-section section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading-count">
                    <h4 class="heading wow fadeInDown" data-wow-delay="0.2s"><span class="thebranch">Nuestro enfoque está en:</span></h4>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="0.3s">
                    <div class="icon"><i class="fas fa-users"></i></div>
                    <p>Las personas, los equipos</p>
                    <span>y sus interacciones</span>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon"><i class="fas fa-bullseye"></i></div>
                    <p>Una visión común</p>
                    <span>y objetivos claros</span>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="0.9s">
                    <div class="icon"><i class="fas fa-code-branch"></i></div>
                    <p>La innovación</p>
                    <span>y el impacto positivo</span>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon"><i class="fas fa-recycle"></i></div>
                    <p>La mejora continua</p>
                    <span>la experimentación y el aprendizaje</span> 
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h4 class="heading wow fadeInDown" data-wow-delay="0.2s">Nos gustaría mostrarte cómo...</h4>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInDown" data-wow-delay="0.2s">
                <a href="#contact-map" class="btn btn-common">
                  <i class="far fa-calendar-alt"></i>Contáctanos</a>
            </div>
        </div>
    </div>
</section>