<section id="2020" class="counter-section section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading-count">
                    <h2 class="heading wow fadeInDown" data-wow-delay="0.2s"><span class="thebranch">The Branch</span> 2020</h2>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="0.3s">
                    <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                    <p>Wst. Conference Center</p>
                    <span>Ciudad de Panamá</span>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon"><i class="far fa-calendar-alt"></i></div>
                    <p>{{ site.date }}</p>
                    <span>08:00 AM – 06:00 PM</span>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="0.9s">
                    <div class="icon"><i class="fas fa-code-branch"></i></div>
                    <p>7 Branches</p>
                    <span>Charlas y talleres en paralelo</span>
                </div>
            </div>
            <!-- Counter Item -->
            <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
                <div class="counter wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon"><i class="fas fa-mug-hot"></i></div>
                    <p>Almuerzo & café gratis</p>
                    <span>No te lo pierdas</span> 
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h2 class="heading wow fadeInDown" data-wow-delay="0.2s">Construyamos una comunidad de comunidades.</h2>
                </div>
            </div>
        </div>
    </div>
</section>