<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Conoce más sobre nosotros</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">{{site.slogan}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign counter = 0 %}
      {% for post in site.posts %}
      {% if counter == 3 %}
        {% break %}
      {% endif %}
      {% if post.categories contains "The Branch" %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="about-item">
          <img class="img-fluid" src="{{ site.url }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
          <div class="about-text">
            <h3><a href="{{ post.url | prepend: site.url | replace: '//', '/' }}">
              {{post.title}}</a>
            </h3>
            <p>{{ post.subtitle }}</p>
            <a class="btn btn-common" href="{{ post.url | prepend: site.url | replace: '//', '/' }}">Leer más</a>
          </div>
        </div>
      </div>
      {% assign counter = counter | plus: 1 %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>