<section id="schedules" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Comunidades</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">The Branch es la conferencia de desarrollo de
                        software,
                        tecnología, innovación y por supuesto personas, creada por las comunidades para las comunidades.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                <p class="intro-desc">En The Branch, el primer objetivo que nos hemos trazado y nuestra razón de
                    existir, es
                    promover el intercambio de conocimiento e información entre las distintas comunidades de
                    profesionales de la
                    tecnología que existe en Panamá y formar una gran comunidad de comunidades.
                    Es por eso que hemos seleccionado este como la temática de nuestra primera versión. </p>
                <h2>{{site.community}}</h2>
                <p class="intro-desc"> Para nosotros en The
                    Branch,
                    es sumamente importante la colaboración de las comunidades, que es dónde podremos encontrar los
                    reales
                    expertos en las diferentes tecnologías que nutrirán y ayudarán a que nuestro evento sea
                    diverso y
                    completo. <br />
                </p>         
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <div class="video">
                    <img class="img-fluid" src="assets/img/about/img2.jpg" alt="¿Perteneces a una comunidad de tecnología? Colabora con nosotros." title="¿Perteneces a una comunidad de tecnología? Colabora con nosotros.">
                </div>
            </div>
            <div class="col-12">
                <div class="section-title-header">
                    <br />
                    <p>Si formas parte de alguna comunidad de profesionales de tecnología, o estás interesado
                        en formar una, te estamos buscando.</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="{{site.baseurl}}/comunidades" class="btn btn-common"><i class="fas fa-pencil-alt"></i>Me gustaría colaborar</a>
            </div>
        </div>
    </div>
</section>