<section id="contact-map" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Contáctanos</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Estaremos encantados de responderte</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-xs-12">
                <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="form-wrapper">
                        <form role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator" netlify>
                            <div class="row">
                                <div class="col-md-6 form-line">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name"
                                            placeholder="Nombre completo" required
                                            data-error="Por favor coloque su nombre">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-line">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="_replyto"
                                            placeholder="Email" required data-error="Por favor coloque su Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-line">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" id="msg_subject" name="subject"
                                            placeholder="Título del Mensaje" required
                                            data-error="Por favor coloque su mensaje">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="4" id="message" name="message" required
                                            data-error="Coloque un mensaje"></textarea>
                                    </div>
                                    <div class="form-submit">
                                        <button type="submit" name="submit" class="btn btn-common" id="form-submit"><i
                                                class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>