<section class="countdown-timer section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading-count">
                    <h2 class="wow fadeInDown" data-wow-delay="0.2s">El evento será en</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <div id="clock" class="time-count">
                        <div class="time-entry days"><h1><span name="days">256</span></h1> Días</div>
                        <div class="time-entry hours"><h1><span name="hours">12</span></h1> Horas</div>
                        <div class="time-entry minutes"><h1><span name="minutes">20</span></h1> Minutos</div>
                        <div class="time-entry seconds"><h1><span name="seconds">20</span></h1> Segundos</div>
                    </div>
                </div>
                <a target="_blank"
                    href="{{ site.calendar_event }}"
                    class="btn btn-common wow fadeInUp" data-wow-delay="0.3s"><i class="far fa-calendar-alt"></i> Agregar a mi calendario</a>
            </div>
        </div>
    </div>
    </div>
</section>