<section id="que-es">
        <div class="stats-block counter-section text-white py-4 text-center">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-3">
                <div class="item">
                  <div class="number">
                    <h1>1000+</h1>
                  </div>
                  <div class="unit">Asistentes</div>
                </div>
                <!--//item-->
              </div>
              <!--//col-->
              <div class="col-6 col-md-3">
                <div class="item">
                  <div class="number">
                    <h1>2</h1>
                  </div>
                  <div class="unit">D&iacute;as</div>
                </div>
                <!--//item-->
              </div>
              <!--//col-->
              <div class="col-6 col-md-3">
                <div class="item">
                  <div class="number">
                    <h1>50+</h1>
                  </div>
                  <div class="unit">Charlas</div>
                </div>
                <!--//item-->
              </div>
              <!--//col-->
              <div class="col-6 col-md-3">
                <div class="item">
                  <div class="number">
                    <h1>15+</h1>
                  </div>
                  <div class="unit">Talleres & Unconference</div>
                </div>
                <!--//item-->
              </div>
              <!--//col-->
            </div>
          </div>
          <!--//container-->
        </div>
        <!--//stats-block-->
        <!--Stats-->
      </section>
      
      <!-- Services Section Start -->
      <section class="services section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Qué es <span class="thebranch">The Branch?</span></h1>
                <div>
                  <code>$ git checkout -b thebranch</code>
                  <p class="wow fadeInDown what" data-wow-delay="0.2s"><cite>
                      Un branch (rama) es una <u>línea activa de desarrollo.</u></cite>
                    <br />
                    <a href="https://git-scm.com/docs/gitglossary">glosario de git</a>
                    <div class="services-item">
                      <div class="services-content">
                        <h3 class="wow fadeInDown what" data-wow-delay="0.4s"><a>The Branch será un evento de 2 días de conferencias, en donde habrán charlas y talleres
                            simultáneos
                            además de diferentes áreas temáticas, todas con un componente tecnológico.</a></h3>
                      </div>
                    </div>
                  </p>
                  <p><h2 class="wow fadeInDown what" data-wow-delay="0.4s">Nuestra misión</h2>Promover las últimas tendencias y las mejores prácticas
                    entre las comunidades de tecnologías y desarrollo de software de Panamá, reunir a profesionales con
                    empresas y mejorar la visibilidad e interacción entre las comunidades tecnológicas.</p>
                  <p><h2 class="wow fadeInDown what" data-wow-delay="0.4s">Nuestra visión</h2>Transformar a Panamá en un referente tecnológico y
                    convertirnos en el evento de conferencias de tecnología y desarrollo de software más importante del país y la región.</p>
                  <p class="wow fadeInDown what" data-wow-delay="0.4s">{{site.slogan}}</p>
                  <p>
                    <h1 class="wow fadeInDown what" data-wow-delay="0.4s">Qué encontrarás en The Branch?</h1>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row services-wrapper">
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
              <div class="services-item wow fadeInDown" data-wow-delay="0.2s">
                <div class="icon">
                  <i class="fas fa-lightbulb"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">Inspiración</a></h3>
                  <p>Inspírate a través de las experiencias y conocimientos que se compartirán.</p>
                </div>
              </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
              <div class="services-item wow fadeInDown" data-wow-delay="0.4s">
                <div class="icon">
                  <i class="far fa-handshake"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">Nuevos contactos</a></h3>
                  <p>Conecta con personas que compartan tu misma pasión por la tecnología y el desarollo de software.</p>
                </div>
              </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
              <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                <div class="icon">
                  <i class="fas fa-robot"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">Tendencias Tecnológicas</a></h3>
                  <p>Aprende sobre las nuevas tendencias en tecnología de la mano de expertos.</p>
                </div>
              </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
              <div class="services-item wow fadeInDown" data-wow-delay="0.8s">
                <div class="icon">
                  <i class="fas fa-heartbeat"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">Nuevas oportunidades</a></h3>
                  <p>Encuentra nuevas oportunidades de aprendizaje, negocio, amistades y más.</p>
                </div>
              </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
              <div class="services-item wow fadeInDown" data-wow-delay="1s">
                <div class="icon">
                  <i class="fas fa-fingerprint"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">Evento Único</a></h3>
                  <p>Nunca antes en Panamá se han reunido tantos ponentes, empresas y profesionales de tecnología bajo el mismo techo.</p>
                </div>
              </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
              <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                <div class="icon">
                  <i class="fas fa-laptop-code"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">Mucho código</a></h3>
                  <p>Hemos retado a nuestros ponentes a escribir código en vivo para que podamos poner en práctica todos los
                    conocimientos compartidos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>