<section id="que-es">
  <div class="stats-block counter-section text-white py-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">
              <h1>Entendemos</h1>
            </div>
            <div class="unit">Tu contexto</div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">
              <h1>Diseñamos</h1>
            </div>
            <div class="unit">La Estrategia</div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">
              <h1>Acompañamos</h1>
            </div>
            <div class="unit">La ejecución</div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">
              <h1>Mejoramos</h1>
            </div>
            <div class="unit">Continuamente</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="services section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Nuestros Servicios
          </h1>
          <div>
            <code class="wow fadeInDown" data-wow-delay="0.2s">$ git checkout -b thebranch</code>
            <p class="wow fadeInDown what" data-wow-delay="0.2s">
               <cite>
                Un branch (rama) es una
                <u>línea activa de desarrollo.</u>
              </cite>
              <br/>
              <a href="https://git-scm.com/docs/gitglossary">glosario de git</a>
              <!--<div class="services-item">
                <div class="services-content">
                  <h3 class="wow fadeInDown what" data-wow-delay="0.4s">
                    <a>Así estamos en The Branch, activamente desarrollando equipos y organizaciones facilitando nuevas formas de 
                      adaptarse al cambio que existe en este mundo tan complejo e incierto, donde la burocracia 
                      y la jerarquía están frenando las oportunidades de adaptación e innovación.
                    </a>
                  </h3>
                   <h3 class="wow fadeInDown what" data-wow-delay="0.4s">
                    <a>Queremos ayudarte.</a>
                  </h3>
                </div>
              </div>-->
            </p>
            <!--<p>
              <h2 class="wow fadeInDown what" data-wow-delay="0.4s">Nuestra misión</h2>Promover las últimas tendencias y las mejores prácticas entre las comunidades de tecnologías y desarrollo de software de Panamá, reunir a profesionales con empresas y mejorar la visibilidad e interacción entre las comunidades tecnológicas.
            </p>
            <p>
              <h2 class="wow fadeInDown what" data-wow-delay="0.4s">Nuestra visión</h2>Transformar a Panamá en un referente tecnológico y convertirnos en el evento de conferencias de tecnología y desarrollo de software más importante del país y la región.
            </p>
            <p class="wow fadeInDown what" data-wow-delay="0.4s">{{site.slogan}}</p>
            <p>
              
              <h1 class="wow fadeInDown what" data-wow-delay="0.4s">¿Cómo lo hacemos?</h1>
            </p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row services-wrapper">
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <i class="fas fa-lightbulb"></i>
          </div>
          <div class="services-content">
            <h3>
              <a href="#">Agile Coaching</a>
            </h3>
            <p>Inspírate a través de las experiencias y conocimientos que se compartirán.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon">
            <i class="far fa-handshake"></i>
          </div>
          <div class="services-content">
            <h3>
              <a href="#">Agile Mentoring</a>
            </h3>
            <p>Conecta con personas que compartan tu misma pasión por la tecnología y el desarrollo de software.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
            <i class="fas fa-robot"></i>
          </div>
          <div class="services-content">
            <h3>
              <a href="#">Facilitación</a>
            </h3>
            <p>Aprende sobre las nuevas tendencias en tecnología de la mano de expertos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <i class="fas fa-heartbeat"></i>
          </div>
          <div class="services-content">
            <h3>
              <a href="#">Training</a>
            </h3>
            <p>Encuentra nuevas oportunidades de aprendizaje, negocio, amistades y más.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="1s">
          <div class="icon">
            <i class="fas fa-fingerprint"></i>
          </div>
          <div class="services-content">
            <h3>
              <a href="#">Acompañamiento</a>
            </h3>
            <p>Nunca antes en Panamá se han reunido tantos ponentes, empresas y profesionales de tecnología bajo el mismo techo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
          <div class="icon">
            <i class="fas fa-laptop-code"></i>
          </div>
          <div class="services-content">
            <h3>
              <a href="#">100% Remoto</a>
            </h3>
            <p>Hemos retado a nuestros ponentes a escribir código en vivo para que podamos poner en práctica todos los conocimientos compartidos.</p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center wow fadeInDown" data-wow-delay="0.2s">
        <a href="#contact-map" class="btn btn-common">
          <i class="far fa-calendar-alt"></i>Contáctanos
        </a>
      </div>
    </div>
  </div>
</section>