<section id="speakers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Speakers</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Conviértete en un referente de tecnología en Panamá
                    </p>
                </div>
                <p>Participa como ponente en la mejor conferencia tecnológica en el país: comparte tu pasión por el
                    código y
                    la tecnología. Estamos en búsqueda constante de conocimientos altamente técnicos basados en la
                    experiencia
                    de primera mano con tecnologías de próxima generación, muestra de excelencia técnica, últimas
                    investigaciones y tecnologías de vanguardia.
                </p>
                <br />
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <div class="video">
                    <img class="img-fluid" src="assets/img/about/about.jpg" alt="">
                </div>
            </div>
            {% include topics.html %}
            <div class="col-12">
                <div class="section-title-header">
                    <br />
                    <p>Si propones un tema que no esté en la lista no te preocupes, valoramos todas las propuestas
                        siempre
                        que sean relevantes e inspiradoras para la comunidad y que estén acorde con lo que queremos
                        transmitir en
                        el
                        evento.</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="{{site.baseurl}}/speakers" class="btn btn-common"><i class="fas fa-thumbs-up"></i>Quiero ser speaker</a>
            </div>
        </div>
    </div>
</section>