<section id="sponsors" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Patrocinadores</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">¿Qué oportunidades ofrece The Branch a sus
                        patrocinadores?
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center services-item">
                    <div class="services-content" data-wow-delay="0.3s">
                        <h3>
                            <a>Oportunidad única para reclutar</a>
                        </h3>
                        <p>Conecte con senior y junior developers, arquitectos de software, testers, analistas, DBAs y otros profesionales talentosos del mundo de la tecnología hambrientos de conocimiento y oportunidades de trabajo.
                        </p>
                    </div>
                </div>
                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center services-item">
                    <div class="services-content" data-wow-delay="0.6s">
                        <h3>
                            <a>Oportunidad única para mostrar su marca</a>
                        </h3>
                        <p>Demuestre de qué forma desarrollan tecnología en su compañía, sus productos y servicios
                            tecnológicos y
                            de qué forma su compañía promueve el desarrollo tecnológico de Panamá.
                            Permítales a los asistentes del evento, probar de primera mano la tecnología que han
                            desarrollado.
                        </p>
                    </div>
                </div>
                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center services-item">
                    <div class="services-content">
                        <h3>
                            <a>Oportunidad para aumentar sus contactos</a>
                        </h3>
                        <p>Conozca 80+ speakers de diferentes lugares y organizaciones.
                            Aprenda más sobre temas como DevOps, Machine Learning, Front End y Microservices y cómo
                            pueden ayudarle
                            en su negocio de la mano de los expertos que nos acompañarán en el evento.</p>
                    </div>
                </div>
                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center services-item">
                    <div class="services-content" data-wow-delay="1.2s">
                        <h3>
                            <a>Oportunidad para compartir su éxito</a>
                        </h3>
                        <p>Inclusión de una charla de 35 minutos dentro del programa. El branch en el que será impartida
                            será decidido en función de la expectación generada en los asistentes durante la creación de
                            la agenda.</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="{{site.baseurl}}/patrocinadores" class="btn btn-common"><i
                            class="fas fa-thumbs-up"></i>Quiero ser
                        patrocinador</a>
                </div>
            </div>
        </div>
    </div>
</section>