<section id="sponsors" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Patrocinadores</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">¿Qué oportunidades ofrece The Branch a sus
                        patrocinadores?
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                {% for item in site.data.sponsors.docs %}
                <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center services-item">
                    <div class="services-content" data-wow-delay="0.3s">
                        <h3>
                            <a>{{item.title}}</a>
                        </h3>
                        <p>{{item.description_a}}
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12 text-center">
                    <a href="{{site.baseurl}}/patrocinadores" class="btn btn-common"><i
                            class="fas fa-thumbs-up"></i>Quiero ser
                        patrocinador</a>
                </div>
            </div>
        </div>
    </div>
</section>