<div id="subscribe" class="section-padding">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-7">
                <div class="subscribe-inner wow fadeInDown" data-wow-delay="0.3s">
                    <h2 class="subscribe-title">Subscríbete a nuestro Newsletter</h2>
                    <form class="text-center form-inline">
                        <input id="notifs-form-input" class="mb-20 form-control" name="email" placeholder="Tu email aquí">
                        <button type="button" class="btn btn-common sub-btn" data-style="zoom-in" data-spinner-size="30"
                            name="submit" id="notifs-form-btn">
                            <span class="ladda-label"><i class="fas fa-paper-plane"></i> Enviar</span>
                        </button>
                        <label class="notified-label"></label>
                    </form>
                    <label class="invalid"></label>
                </div>
            </div>
        </div>
    </div>
</div>