<section id="team" class="section-padding text-center">
    <div class="container">
        <div class="row">
            {% for item in site.data.team.docs %}
            {% if item.show %}
            <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-img">
                            <img class="img-fluid" src="{{ item.image }}" alt="{{ item.name }}" title="{{ item.name }}">
                            <div class="team-overlay">
                                <div class="overlay-social-icon text-center">
                                    <ul class="social-icons">
                                        {% if item.facebook != blank? %}
                                        <li><a href="https://www.facebook.com/{{ item.facebook }}" target="_blank" rel="noopener"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                        {% endif %}
                                        {% if item.twitter != blank? %}
                                        <li><a href="https://twitter.com/{{ item.twitter }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
                                        {% endif %}
                                        {% if item.linkedin != blank? %}
                                        <li><a href="https://www.linkedin.com/in/{{ item.linkedin }}" target="_blank" rel="noopener"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                        {% endif %}
                                        {% if item.email != blank? %}
                                        <li><a href="mailto:{{ item.email }}"><i class="far fa-envelope"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info-text">
                            <h3><a href="{{ item.page }}" target="_blank" rel="noopener">{{ item.name }}</a></h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <a href="mailto:equipo@thebranch.tech" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1.9s"><i class="fas fa-hands-helping"></i>Quiero colaborar</a>
    </div>
</section>