<section id="volunteers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Voluntarios</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Entérate de que pasa tras bastidores del evento más
                        grande
                        de conferencias de tecnología en Panamá. <br />
                        Al ofrecerte como voluntario, podrás estar en todo el centro de este súper evento, incluso
                        atender algunas de las charlas de expertos que tendremos, ¿Suena cool verdad?.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <div class="video">
                    <img class="img-fluid" src="assets/img/gallery/img-5.jpg" alt="¿Quieres ser voluntario? Contáctanos." title="¿Quieres ser voluntario? Contáctanos.">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                
                <p class="intro-desc">
                        Nuestro programa de voluntarios es una fantástica forma de involucrarse en The Branch conference. Cada voluntario recibe acceso gratuito al evento a cambio de un promedio de 8 a 12 horas de su tiempo distribuidas en los dos días del evento. Existen muchas formas que el voluntariado en The Branch te permitirá poner tus habilidades e intereses en práctica. Puedes ser parte del equipo de operaciones, logística, responsable de sala para asistir a los ponentes y asistentes, incluso si eres bueno tomando llevando el tiempo, nos encantaría tenerte en el equipo que se encargará de mantener la agenda a tiempo y de ayudar a los ponentes a estar en sus salas, iniciar sus charlas y terminarlas al tiempo.
            </p>
                <p class="intro-desc">
                <h2 class="intro-title">¿Cuáles serán mis beneficios?</h2>
                <ul class="list-specification">
                    <li><i class="fas fa-code-branch"></i> Entrada gratuita del evento.</li>
                    <li><i class="fas fa-code-branch"></i> Comida y bebida gratis.</li>
                    <li><i class="fas fa-code-branch"></i> T-shirt del staff.</li>
                    <li><i class="fas fa-code-branch"></i> Networking</li>
                    <li><i class="fas fa-code-branch"></i> Conocer oportunidades de empleo.</li>
                    <li><i class="fas fa-code-branch"></i> <strong>Y más!</strong></li>
                </ul>
            </p>
            </div>
            <div class="col-12">
                <div class="section-title-header text-center">
                    <br />
                    <p>¿Listo para aceptar el reto?</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="{{site.baseurl}}/voluntarios" class="btn btn-common"><i class="fas fa-cogs"></i>Quiero ser voluntario</a>
            </div>
        </div>
    </div>
</section>