<section id="volunteers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Voluntarios</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Entérate de que pasa tras bastidores del evento más
                        grande
                        de conferencias de tecnología en Panamá. <br />
                        Al ofrecerte como voluntario, podrás estar en todo el centro de este súper evento, incluso
                        atender algunas de las charlas de expertos que tendremos, ¿Suena cool verdad?.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <div class="video">
                    <img class="img-fluid" src="assets/img/gallery/img-5.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                <h2 class="intro-title">¿Cuál será mi labor como voluntario?</h2>
                <ul class="list-specification">
                    <li><i class="fas fa-code-branch"></i> Monitorear lo que sucede en el evento durante los dos días.
                    </li>
                    <li><i class="fas fa-code-branch"></i> Dar apoyo y soporte en sitio a en las charlas y a los
                        speakers.
                    </li>
                    <li><i class="fas fa-code-branche"></i> Facilitar la sesión de preguntas y respuestas después de
                        cada
                        charla o taller.</li>
                    <li><i class="fas fa-code-branch"></i> Reportar al staff principal si algo sale mal durante el
                        evento o
                        si
                        detectas alguna situación fuera de lo normal.</li>
                </ul>
                <h2 class="intro-title">¿Cuáles serán mis beneficios?</h2>
                <ul class="list-specification">
                    <li><i class="fas fa-code-branch"></i> Entrada gratuita del evento, incluyendo el pack de bienvenida
                        que
                        reciben todos los asistentes.</li>
                    <li><i class="fas fa-code-branch"></i> Comida y bebida gratis.</li>
                    <li><i class="fas fa-code-branch"></i> T-shirt del staff del evento.</li>
                    <li><i class="fas fa-code-branch"></i> La oportunidad de hacer crecer tu red de contactos en el
                        ecosistema tecnológico de Panamá.</li>
                    <li><i class="fas fa-code-branch"></i> La oportunidad de conocer sobre oportunidades de empleo
                        ofrecidas
                        por nuestros patrocinadores.</li>
                    <li><i class="fas fa-code-branch"></i> <strong>Y por supuesto, nuestro más sincero agradecimiento y
                            reconocimiento!</strong></li>
                </ul>
            </div>
            <div class="col-12">
                <div class="section-title-header text-center">
                    <br />
                    <p>¿Listo para aceptar el reto?</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="{{site.baseurl}}/voluntarios" class="btn btn-common"><i class="fas fa-cogs"></i>Quiero ser voluntario</a>
            </div>
        </div>
    </div>
</section>