<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <h3>
                    <a href="{{ site.url }}"><img src="{{ site.url }}/{{ site.logo-white }}"
                            alt="The Branch logo" title="The Branch logo" /></a>
                </h3>
                <p><i class="fas fa-code-branch"></i> {{ site.slogan }}</p>
                <p>&nbsp;</p>
                <p>
                    <i class="fas fa-map-marked-alt"></i> {{ site.date }}. {{ site.place}}
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <h3>ENLACES DE INTERÉS</h3>
                <ul>
                    {% for item in site.data.navigation.docs %} {% if item.footer == true
          %} {% if item.side == 'left' %}
                    <li>
                        <a href="{{site.url}}{{ item.url }} ">{{ item.title }} </a>
                    </li>
                    {% endif %} {% endif %} {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <h3>QUIÉNES SOMOS</h3>
                <ul>
                    {% for item in site.data.navigation.docs %} {% if item.footer == true
          %} {% if item.side == 'right' %}
                    <li>
                        <a href="{{site.url}}{{ item.url }} ">{{ item.title }} </a>
                    </li>
                    {% endif %} {% endif %} {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                <h3>CONTÁCTANOS</h3>
                <div class="widget">
                    <div class="newsletter-wrapper">
                        <p>
                            <a href="mailto:{{ site.email }}?Subject=Información sobre The Branch" target="_top"><i
                                    class="far fa-envelope"></i> {{ site.email }}</a>
                        </p>
                    </div>
                </div>
                <!-- /.widget -->
                {% if site.social-media %}
                <div class="widget">
                    <h5 class="widget-title">Síguenos</h5>
                    <ul class="footer-social">
                        <li>
                            <a class="facebook" target="_blank" href="{{site.facebook}}" rel="noopener"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="twitter" target="_blank" href="{{site.twitter}}" rel="noopener"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="linkedin" target="_blank" href="{{site.linkedin}}" rel="noopener"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a class="instagram" target="_blank" href="{{site.instagram}}" rel="noopener"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>

{% include copyright.html %}