{% assign url = include.url %}
{% assign height = include.height %}
<div>
    <iframe id="form-iframe" src="{{ url }}" scrolling="no" onload="loaded()" style="margin:0; width:100%; height:{{ height }}; border:none; overflow:hidden;">Cargando…</iframe>

    <script type="application/javascript">
        var loadCounter = 0;
        var loaded = function() {
            var iframe = $("#form-iframe").first();
            var position = iframe.position();
            console.log(position);
            loadCounter += 1;
            if (loadCounter === 2) {
                $("#form-iframe").attr("height", "500px");
                /* window.scrollTo(0,100) */
                $(location).attr('href', '/thebranchconf/gracias');
            }
        }
    </script>
</div>