<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

<meta property="og:locale" content="es_ES"> 
<meta property="og:locale:alternate" content="en_US" />
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/{{ site.logo }}" />
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{%if page.author %}
<meta property="og:type" content="article">
<meta property="article:publisher" content="http://www.facebook.com/thebranchconf" />
<meta property="article:author" content="{{ page.author }}" />
<meta property="article:published_time" content="{{ page.date }}" />
{% endif %}

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@thebranchconf" />
<meta name="twitter:creator" content="@marvlm">
<meta name="twitter:card" content="summary">

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/img/favicon/site.webmanifest">
<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<title> 
    {%if page.title %}
        {{ site.title }} - {{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
<!-- Icon -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/fonts/line-icons.css">
<!-- Slicknav -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/slicknav.css">
<!-- Nivo Lightbox -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/nivo-lightbox.css">
<!-- Animate -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/animate.css">
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
<!-- Responsive Style -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/responsive.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">