---
layout: default
title: Blog
pagination:
enabled: true
---

<header>
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active"
                style="background-image: url({{site.baseurl}}/assets/img/slider/slide8.jpg);">
                <div class="carousel-caption d-md-block">
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">{{ page.title }}</h1>
                    <p class="fadeInUp wow" data-wow-delay=".6s">{{ site.slogan }}</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    
    {% include blog/sticky.html %}

    {% include blog/latest-articles.html %}

    <section id="interesado">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Todos los artículos</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Si te interesa publicar algún artículo en nuestro
                        blog, escríbenos a <a href="mailto:{{ site.email }}?Subject=Información sobre The Branch"
                            target="_top">{{ site.email }}</a></p>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {{ content }}

            {% for post in site.posts limit : 5 %}

            {% unless post.categories contains "session" %}

            <article class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h5 class="post-subtitle">{{ post.subtitle }}</h5>
                    {% else %}
                    <h5 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h5>
                    {% endif %}
                </a>
                <p class="post-meta">Publicado por
                    {% if post.author %}
                    {% for item in site.data.authors.docs %}
                    {% if item.id == post.author %}
                    <strong>{{ item.name }}</strong>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {{ site.author }}
                    {% endif %}
                    el
                    {{ post.date | date: '%B %d, %Y' }} &middot; {% include blog/read-time.html content=post.content %}
                </p>
                {% include blog/tags-list.html %}
            </article>

            <hr>

            {% endunless %}

            {% endfor %}

            <section class="countdown-timer section-padding">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- Pager -->
                            <div class="clearfix">
                                <a class="btn btn-common float-right" href="{{"/posts" | relative_url }}">Ver todos
                                    <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>